<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>110454781987-hqnfr7ilo2vdrsbfqhqskanerosfn9m5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110454781987-hqnfr7ilo2vdrsbfqhqskanerosfn9m5</string>
	<key>API_KEY</key>
	<string>AIzaSyCuLLmuR0TcOEr1QPoKkcoZ5O-W6oXp2jQ</string>
	<key>GCM_SENDER_ID</key>
	<string>110454781987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EQ4.IOS-EQ04</string>
	<key>PROJECT_ID</key>
	<string>ios-projet-h3-t1</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-projet-h3-t1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:110454781987:ios:537e44c42aaa8a35</string>
	<key>DATABASE_URL</key>
	<string>https://ios-projet-h3-t1.firebaseio.com</string>
</dict>
</plist>
